
*/build/*
/Debug/
/Release/
/coverage/
/build/
/out/
*.out
*.swp
*.exe
*.o
*.obj
*.elf
*.gch
*.ninja
*.profdata
*.profraw
*.s
*.so
/.vagrant
*.ninja_deps
*.ninja_log
/oanno/
/oprofile_data/
*.re2c.c
*.lemon.h
*.lemon.c
/.Trash-1000
*massif.out.*
/_tmp/
_*/
!/.gitignore
*.ll
.ccls-cache
/.vscode/ipch
node_modules
compile_commands.json
*.kra~
*.kra-autosave.kra
*.png~
perf.data
perf.data.old